.parent {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 10% 80%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
}

/* .contentWarp {
  background-color: grey;
} */

.headerContainer {
  grid-area: 1 / 1 / 2 / 4;
}
.feedContainer {
  grid-area: 2 / 2 / 3 / 3;
  /* background-color: #efefef; */
  width: 450px;
}
.bioContainer {
  grid-area: 2 / 1 / 3 / 2;
  /* background-color: #efefef; */
}
.postContainer {
  grid-area: 2 / 3 / 3 / 4;
  /* background-color: #efefef; */
}
.footerContainer {
  grid-area: 3 / 1 / 4 / 6;
}

#bioDiv {
  border: 2px solid;
  border-color: black;
  border-radius: 10px;
  background-color: #302e2e;
  color: ivory;
  width: 175px;
  height: 275px;
  text-align: center;
}

#trending {
  background-color: #302e2e;
  color: ivory;
  width: 155px;
  /* align-items: center; */
}

#uploadPost {
  border: 2px solid;
  border-color: black;
  border-radius: 10px;
  background-color: #302e2e;
  height: 300px;
}
/* #profilepic": {
  // display: "flex",
  // alignSelf: "baseline",
  height: "25px",
  width: "25px",
  borderRadius: "50%",
  border: "2px solid",
  borderColor: "black",
  hover: "white"
}, */
/* #profilepic {
  display: flex;
  align-self: baseline;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid;
  border-color: black;
} */
