.parent {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 10% 80% 10%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
/* .contentWarp {
  background-color: grey;
} */

.headerContainer {
  grid-area: 1 / 1 / 2 / 6;
}
.feedContainer {
  grid-area: 2 / 2 / 6 / 5;
  background-color: #efefef;
}
.bioContainer {
  grid-area: 2 / 1 / 6 / 2;
  background-color: #efefef;
}
.postContainer {
  grid-area: 2 / 5 / 6 / 6;
  background-color: #efefef;
}
.footerContainer {
  grid-area: 3 / 1 / 4 / 6;
}

#bioDiv {
  background-color: white;
  border: 2px solid black;
  border-radius: 5%;
  width: 175px;
  height: 250px;
  text-align: center;
}
