.wholePage {
    background-color: #F2DDC7;
    background-image: url("./Travel-Photography.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
    height: 100vh;
}

.mainPage {
    text-align: left;
    margin: 5% 30% 10% 30%;
    background: rgba(255,255,255,.9);
    padding: 55px;
    border-radius: 40px;
    margin-top: 40px;
}

label {
    display: block;
    padding-bottom: 10px;
    font-size: 20px;
    margin-top: 20px;
}

input {
    width: 100%;
}

.link:hover {
    color: #AABCA4;
}

.link:visited {
    color: #E99332;
}

.nav {
    display: block;
    width: 100%;
    padding: 20px;
    top: 0;
}

.link {
    position: fixed;
    right: 0;
    top: 7px;
}

.navLink {
    padding-left: .5em;
    padding-right: .5em;
}

.search {
    position: fixed;
    margin: -10px 0px 0px 30px;
}

button:hover {
    background-color: #E99332;
    color: white;
}