.form {
    background-color: rgb(8, 8, 7);
    background-position: center;
    background-size: 100% auto;
    height: 100vh;
    background-image: image("");
}

input {
    width: 100%;
    background-color: linen;
}


