.form {
    background-color: rgb(8, 8, 7);
    background-position: center;
    background-size: 100% auto;
    height: 100vh;
}

input {
    width: 100%;
    background-color: linen;
}

button{
    width:100%;
    color: lightslategray;
}

button.hover {
    background-color: #E99332;
    color: white;
}
