html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * { 
 border: 1px solid red;
 position: relative;
}

.grid-container *:after { 
 content:attr(class);
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.8fr 0.6fr;
  grid-template-rows: 1fr;
  grid-template-areas: "container rightSide";
}

.rightSide { grid-area: rightSide; }

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 0.4fr 2fr;
  grid-template-areas: "header" "createPostForm" "newsFeed";
  grid-area: container;
}

.header { grid-area: header; }

.createPostForm { grid-area: createPostForm; }

.newsFeed { grid-area: newsFeed; }
