.newsFeed {
  background-color: white;
  border-style: outset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
}

.profile {
  /* display: flex; */
  display: flex;
  flex-direction: row;
  /* background-color: whitesmoke; */
  background: rgb(255, 188, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 188, 0, 1) 0%,
    rgba(243, 249, 246, 1) 0%
  );
  border-style: outset;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  border-top: 2px solid black;
}

.profileInfo {
  padding: 50px;
  padding-bottom: 50px;
  background: rgb(255, 188, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 188, 0, 1) 0%,
    rgba(243, 249, 246, 1) 100%
  );
}

#displayUser {
  display: flex;
  text-align: center;
}

#updateBio {
  margin-left: 20%;
  margin-right: 20%;
}

#post_Image {
  margin-bottom: 25px;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 6px 6px 6px gold;
}

.feedImgs {
  background: rgb(255, 188, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 188, 0, 1) 0%,
    rgba(243, 249, 246, 1) 0%
  );
}
