.split {
    height: 100%;
    position: fixed;
    padding-top: 20px;
    /* display: inline-block; */
}

.userInfo {
    background-color: #436A89;
    left: 0;
    width: 30%;
}

.feed {
    background-color: #ECECEC;
    right: 0;
    width: 70%;
}

.navbar {
    display: flex;
    height: 100%;
    padding: 4px;
    background-color: #EBCBA8;
}

.navbar > .allLinks > .link {
    padding-left: 1.5em;
    padding-right: 1em;
    color: black;
}

.navbar > .allLinks > .link:hover {
    color: #E99332;
}

.navbar > .allLinks > .link:visited {
    color: #6D7869;
}

.navbar > .allLinks {
    position: absolute;
    right: 0;
}
