html {
    background-color: #F2DDC7;
}

.mainPage {
    text-align: left;
    margin: 10% 35%;
}

label {
    display: block;
    padding-bottom: 10px;
    font-size: 20px;
}

input {
    width: 100%;
}

.signUp > nav > .link {
    padding-left: .5em;
    padding-right: .5em;
}

.signUp > nav > .link:hover {
    color: #AABCA4
}

.signUp > nav > .link:visited {
    color: #E99332
}

nav {
    position: absolute;
    right: 0;
    top: 7px;
}

button {
    border: 2px solid #EBCBA8;
    transition-duration: 0.4s;
    border-radius: 5px;
}

button:hover {
    background-color: #E99332;
    color: white;
}

.signUp > .mainPage > img {
    object-fit: cover;
    margin: -15px -100px 0px -35px;
    width: 250px;
    height: 150px;
    overflow: hidden;
}

.signUp > .mainPage > h1 {
    margin: 10px 0px -20px 0px;
    text-align: right;
}

.signUp > .mainPage > p {
    font-size: 50px;
    margin: 0px;
    text-align: right;
}

.signUp > .mainPage > form {
    margin-top: 40px;
}