.signUpFormDiv {
  margin-right: 50px;
  margin-left: 7%;
  display: flex;
  flex-direction: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: start;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.signUpBio {
  width: 300px;
}

input[type="text"], input[type="email"] {
  display: flex;
  flex-flow: wrap;
  padding-left: 15px;
  margin-top: 5px;
  width: 200px;
  margin-bottom: 15px;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

.signForms {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
  height: fit-content;
  border: 2px rgba(253, 80, 221, 0.575);
  border-style: inset;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 8px 8px 2px 1px rgba(5, 216, 244, 0.281);
  border-radius: 15px;
  background: white;
}

.signUpForm, .signInSwitchContainer {
  align-self: center;
}

.signUpForm {
  padding-top: 20px;
  padding-bottom: 18px;
}

.signInSwitchContainer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.signUpFavArtist {
  width: 200px;
}

.signInLogo {
  margin-right: 50px;
  height: 550px;
  width: 550px;
}

@media only screen and (max-width: 950px) {
  body > div {
    margin: 2% 2.5%;
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  body > div {
    margin: 2% 2.5%;
    width: 50%;
  }
}
