.signUpFormDiv {
  margin-right: 50px;
  margin-left: 10%;
  margin-top: 30px;
  display: flex;
  flex-flow: row;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: start;
}

input {
  display: flex;
  flex-flow: wrap;
  padding-left: 15px;
  margin-top: 5px;
}

label {
  margin-top: 10px;
}

form {
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: 400px;
  height: fit-content;
  border: 2px rgba(253, 80, 221, 0.575);
  border-style: inset;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 8px 8px 2px 1px rgba(5, 216, 244, 0.281);
}

h5 {
  display: flex;
  flex-flow: column;
  font-weight: bolder;
  margin-top: 10px;
}

.signUpFavArtist {
  width: 200px;
}

.signUpBio {
  width: 300px;
}

img {
  margin-right: 50px;
  height: 550px;
  width: 550px;
}

.button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  justify-content: center;
}

.signUpSwitch {
  margin-left: 10px;
  border-color: rgba(253, 80, 221, 0.575);
  border-radius: 25px;
  box-shadow: 3px 3px 0px 0px rgba(5, 216, 244, 0.281);
}

.already {
  margin-left: 50px;
}

h6 {
  padding: 5px;
  height: fit-content;
}

@media only screen and (max-width: 950px) {
  body > div {
    margin: 2% 2.5%;
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  body > div {
    margin: 2% 2.5%;
    width: 50%;
  }
}
