.userInfo {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-left: 30px;
    padding: 20px;
    background-color: white;
    border: 2px solid rgb(253, 80, 221);
    box-shadow: 5px 5px 0px 0px rgba(5, 216, 244, 0.281);
    border-radius: 25px;
}

.profilePic {
    border: 2px solid rgb(253, 80, 221);
    box-shadow: 5px 5px 0px 0px rgba(5, 216, 244, 0.281);
    border-radius: 25px;
    width: 200px;
    height: 200px;
    align-self: center;
    object-fit: cover;
}

.userDetails {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    border: 2px solid rgb(253, 80, 221);
    box-shadow: 5px 5px 0px 0px rgba(5, 216, 244, 0.281);
    border-radius: 25px;
    padding: 25px;
}

.userDetail, .bio {
    margin-top: 20px;
}

.bioBody, .userDetailValue {
    margin-left: 25px;
}

p, .bioHeader {
    font-size: 24px;
}

span, .bioHeader {
    font-weight: bold;
}