.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1, h2, h3, h4, h5 {
    font-family: 'Krona One', sans-serif;
}

p, label, div, input {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
}


.button {
    border-color: rgba(253, 80, 221, 0.575);
    border-radius: 25px;
    box-shadow: 3px 3px 0px 0px rgba(5, 216, 244, 0.281);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    padding: 5px;
    width: 100px;
    justify-content: center;
  }
  
.button:hover {
    box-shadow: 3px 3px 0px 0px rgba(253, 80, 221, 0.575);
    border-color: rgba(5, 216, 244, 0.281);
}

.error {
    color: rgba(244, 41, 5, 0.863);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}